<%= form_for @stock, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :intitial_quantity, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :intitial_quantity, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :current_quantity, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :current_quantity, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :status, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :status, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :purchase_manufacture_date, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.date_select :purchase_manufacture_date, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :expiration_date, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.date_select :expiration_date, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :price_per_unit, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :price_per_unit, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :supplier, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :supplier, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :identifier, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :identifier, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  stocks_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
