<h1>Listing stocktypes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stocktypes.each do |stocktype| %>
      <tr>
        <td><%= stocktype.name %></td>
        <td><%= link_to 'Show', stocktype %></td>
        <td><%= link_to 'Edit', edit_stocktype_path(stocktype) %></td>
        <td><%= link_to 'Destroy', stocktype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stocktype', new_stocktype_path %>
